.navbar {
  width: 100%;
  // position: fixed;
  top: 0;
  left: 0;
  &-title {
    font-weight: 500;
    font-size: 18px;
    color: #09244b;
    font-style: normal;
    text-transform: none;
    @include flex();
    .back-icon {
      margin-left: 16px;
      width: 24px;
      height: 24px;
    }
  }
}
