.appoint-reg {
  height: 170px;
  border-radius: 8px 8px 8px 8px;
  background-image: url('../../../../../../assets/images/appointmentBg.png');
  background-size: 100% 100%;
  position: relative;
  text {
    text-align: left;
    font-style: normal;
    text-transform: none;
  }
  .title {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    top: 12px;
    left: 12px;
  }
  .tips {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    top: 44px;
    left: 12px;
  }
  .button {
    position: absolute;
    width: 60px;
    height: 26px;
    background: #ffffff;
    border-radius: 4px 4px 4px 4px;
    top: 81px;
    left: 12px;
    @include flex(center);
    > text {
      font-weight: 400;
      font-size: 12px;
      color: #02be5e;
    }
  }
}
