page {
  font-family: Source Han Sans CN;
  width: 100%;
  background: linear-gradient(180deg, #d3f2ff 0%, #f7fafb 45%);
  background-attachment: fixed;
}
view {
  box-sizing: border-box;
}
.mb-10 {
  margin-bottom: 10px;
}
