.query-button {
  width: calc((100% - 8px) / 2);
  height: 84px;
  border-radius: 8px 8px 8px 8px;
  @include flex(center, column);
  .icon {
    width: 36px;
    height: 36px;
  }
  .text {
    color: #09244b;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    font-style: normal;
    text-transform: none;
    margin-top: 4px;
  }
}
